[Unit]
Description=Panamax UI
After=panamax-api.service panamax-metrics.service
Requires=panamax-api.service panamax-metrics.service

[Service]
TimeoutStartSec=0
EnvironmentFile=/var/panamax/.coreosenv
Environment="IMAGE=centurylink/panamax-ui"
ExecStartPre=/usr/bin/docker pull $IMAGE
ExecStartPre=/bin/sh -c "docker rm -f ${CONTAINER_NAME_UI} || true"
ExecStart=/usr/bin/docker run --name ${CONTAINER_NAME_UI} -m=1g -c=10 -v /var/run/docker.sock:/run/docker.sock:rw --link ${CONTAINER_NAME_API}:PMX_API --link ${CONTAINER_NAME_CADVISOR}:CADVISOR -p 3000:3000 $IMAGE
ExecStop=/usr/bin/docker stop ${CONTAINER_NAME_UI}
Restart=always

[Install]
WantedBy=multi-user.target
